nav {
    border-top: 3px solid rgba(255, 144, 112, 1) !important;
    display: block;
    font-size: 0;
    padding-right: 5%;
}

.nav-link {
    color: #202020;
    display: inline-block;
    transition: background-color .1s;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 20px
}

.nav-link:hover:not(.active-link) {
    background-color: rgba(255, 144, 112, .6);
    transition: background-color .2s;
}

.nav-link:hover:not(.active-link),
.nav-link:focus:not(.active-link),
.nav-link:active:not(.active-link) {
    color: #202020;
}

.active-link {
    color: #fff !important;
    background-color: rgba(255, 144, 112, 1);
    transition: color .15s, background-color .2s
}

.nav-icon {
    display: none;
}

@media screen and (max-width:768px) {
    nav.responsive {
        height: 100%;
        position: fixed;
        padding: 0;
        background-color: rgba(0, 0, 0, .7);
        transition: background-color .5s;
    }
    nav.responsive .nav-link {
        display: block;
    }
    .nav-link {
        width: 100%;
        text-align: center;
        text-align: center;
        display: none;
        font-size: 18px;
        color: #fff;
        letter-spacing: 1px;
        padding: 30px;
    }
    .nav-icon {
        position: absolute;
        font-size: 35px;
        padding: 25px;
        right: 0;
        top: 0;
        display: block;
        color: rgba(0, 0, 0, .8);
    }
    .nav-icon:hover,
    .nav-icon:focus,
    .nav-icon:active {
        color: inherit;
    }
    .nav-icon i {
        transition: all .5s ease
    }
    nav.responsive .nav-icon {
        color: #fff;
    }
}