@import 'variables';
nav {
  border-top: 3px solid rgba(255, 144, 112, 1);
  font-size: 0;
  padding-right: 5%;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  .nav-links {
    float: right;
    .nav-link {
      position: relative;
      color: #202020;
      display: inline-block;
      transition: background-color .1s;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      padding: 10px 20px;
      &.active-link {
        color: #fff;
        background-color: rgba(255, 144, 112, 1);
        transition: color .15s, background-color .2s;
      }
      &:hover:not(.active-link),
      &:focus:not(.active-link),
      &:active:not(.active-link) {
        color: #202020;
      }
      &:hover:not(.active-link) {
        background-color: rgba(255, 144, 112, .6);
        transition: background-color .2s;
      }
    }
  }
  .nav-icon {
    display: none;
  }
}

@media screen and (max-width: $break-xs) {
  nav {
    left: -250px;
    height: 100%;
    width: 250px;
    border: none;
    padding: 0;
    background-color: $dark-color;
    transition: all .5s ease;
    border-right: 3px solid rgba(255, 144, 112, 1);
    border-top: none;
    z-index: 100;
    .nav-links {
      float: none;
      .nav-link {
        display: block;
        width: 100%;
        color: #fff;
        padding: 4vh 5vw;
        &.active-link {
          color: rgba(255, 144, 112, 1);
          background-color: inherit;
          transition: color .15s;
          font-weight: bold;
        }
        &:hover:not(.active-link),
        &:focus:not(.active-link),
        &:active:not(.active-link) {
          color: #fff;
        }
        &:hover:not(.active-link) {
          background-color: inherit;
        }
        &::after {
          position: absolute;
          content: '';
          bottom: 0;
          width: 50%;
          left: 25%;
          height: 1px;
          background-color: rgba(255, 144, 112, 1);
        }
      }
    }
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      width: 50px;
      height: 50px;
      text-align: center;
      padding: 12px;
      margin: 15px;
      left: 100%;
      color: $dark-color;
      i {
        font-size: 26px;
        transition: all .5s ease;
      }
      &:hover,
      &:focus,
      &:active {
        color: inherit;
      }
      border-radius: 50%;
      background-color: rgba(255, 144, 112, .6);
      .nav-icon-open {
        display: block;
      }
      .nav-icon-close {
        display: none;
      }
    }
    &.responsive {
      left: 0;
      .nav-icon {
        border-radius: 50%;
        background-color: rgba(255, 144, 112, .85);
        .nav-icon-open {
          display: none;
        }
        .nav-icon-close {
          display: block;
        }
      }
    }
  }
}
