.anchor {
    position: relative;
    display: block;
    visibility: hidden;
    top: 3px;
}

section,
.sub-section {
    min-height: 112vh;
}

.fa-envelope {
    font-size: 20px;
}

.fa-mobile {
    font-size: 32px;
    margin: 0px 4px;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h-align {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sub-section {
    &.background-section {
        color: #fff;
    }
    &.no-background-section {
        position: relative;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.15), 0 -3px 6px rgba(0, 0, 0, 0.16), 0 -3px 6px rgba(0, 0, 0, 0.15);
    }
}

.text-zone {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
}

@media screen and (max-width:992px) {
    .h-align {
        display: block;
        margin-bottom: 20px;
    }
    .no-background {
        box-shadow: none;
    }
    .text-zone {
        line-height: 25px;
    }
}